<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
  <title>Список задач</title>
</head>
<body>
	<div id="app">
	    <div class="stats">
	      	<h3 class="statsTitle">{{"Текущих задач: "+ tasks.length}}</h3>
	      	<form @submit.prevent="addTask">
	        	<div class="addTask">
	            	<div class="addTaskInput ">
	              		<input placeholder="Новая задача..." type="text" id="inp1" v-model="newTask.title">
	            	</div>
	          		<button id="idOfTextbox" type="submit" class="addTaskBtn" >ADD</button>
	      		</div>
	        </form>
	    </div>
	    <task @task_done="deleteTask(index)" :key="index" v-for="(data,index) in tasks" :data="data" ></task>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer=""></script>
<script src="script.js" defer=""></script>
</html>