}
* {
  padding: 0;
  margin: 0;
  transition: all 0.3s;
}
#app{
  width: 320px;
  box-shadow: 0 3px 20px #00000023;
  font-family: 'Gilroy', sans-serif;
  padding: 10px;
  margin: 20px 0 0 20px;
  color: var(--main);
}
.stats {
  margin: 0px;
}
.statsTitle {
  margin: -10px -10px 10px -10px;
  padding: 10px;
  background-color: #3366CC;
  color: #ffffff;
  font-weight: 500;
}
.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: -10px -10px 10px -10px;
  padding: 10px;
  max-width: 100%;
}
.task:hover {
  background-color: #2f485811;
}
.taskTitle {
  font-size: 18px;
}
.taskDesc {
  font-weight: 500;
  font-size: 16px;
}
.taskDone {
  height: 30px;
  width: 30px !important;
  border: none;
  background-color: unset;
}
.taskDone:hover {
  cursor: pointer;
  border-radius: 4px;
  background-color: #9ee493bb;
}
.addTask {
  display: flex;
  
}
.addTaskInput {
  width: 80%;
}

.addTaskInput input {
  width: 186px;
  height: 25px;
  font-size: 20px;
}
.addTaskBtn {
  width: 40%;
  border: 2px solid #e34761;
  margin-left: 10px;
  background: #f3dbdf;
  font-size: 15px;
}
.addTaskBtn:hover {
  cursor: pointer;
  border-radius: 4px;
  background-color: #2f485811;
}